.gr2{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cen-div{
    width: 30%;
    height: 60%;
    display: grid;
    transform: rotate(45deg);
    grid-template-areas: 
    "child1 child2 child2"
    "child1 child3 child4"
    "child5 child5 child4"
    
    ;
    grid-auto-rows: auto;
    text-align: center;
    color: white;
    gap: 10px;

}
.cen-div .child1{
    grid-area: child1;
    background-color: black;
}
.cen-div .child2{
    grid-area: child2;
    background-color: black;
}
.cen-div .child3{
    grid-area: child3;
    background-color: black;
}
.cen-div .child4{
    grid-area: child4;
    background-color: black;
}
.cen-div .child5{
    grid-area: child5;
    background-color: black;
}
@media screen and (max-width:1200px) and (min-width:993px){

    .cen-div{
        transform: rotate(30deg);
    }
    .gr2{
        background-color: #e0b0b0;
    }
}
@media screen and (max-width:992px) and (min-width:768px){
    .bod{
        flex-direction: column;
    }
    .bod section{
        width: 98%;
    }
    .cen-div{
        transform: rotate(15deg);
    }
    .gr2{
        background-color: #aaa;
    }
}

@media screen and (max-width:767px) {

    .cen-div{
        transform: rotate(0deg);
    }
    .gr2{
        background-color: green;
    }
}